In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
import pandas as pd
import numpy as np
import os
import re

In [9]:
dat0 = pd.read_csv('flu_data/by_year/2004.csv', encoding = "gbk") # 读取数据，命名为dat0
dat0.head()

  Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5
0        NaN        NaN      流行性感冒        NaN        NaN        NaN
1        NaN         地区        发病数        死亡数        发病率        死亡率
2        NaN         全国      49496         15     3.8077     0.0012
3        NaN        北京市          8          0     0.0540        NaN
4        NaN        天津市         13          0     0.1399        NaN

In [10]:
dat0.tail() # 展示数据后5行

           Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5
30                NaN        甘肃省        978          0     3.7416        NaN
31                NaN        青海省        230          1     4.2627     0.0185
32                NaN         宁夏        193          0     3.3051        NaN
33                NaN         新疆         95          0     0.5106        NaN
34  2018年9月10日 下午9:09        NaN        NaN        NaN        NaN        NaN

从这里我们可以看出数据框的列名与实际需要的列名不符，并且数据框头尾均有不需要的空行。

对第一年的数据进行预处理

In [11]:
dat0.drop("Unnamed: 0", axis =1, inplace= True)        # 删除第一列
col_name = dat0.iloc[1]                                # 选取真实列名所在的第1行
dat0.columns = col_name                                # 更改列名 
dat0.drop([0, 1, len(dat0)-1], axis =0, inplace= True) # 删除多余的行
dat0.head()

1   地区    发病数 死亡数     发病率     死亡率
2   全国  49496  15  3.8077  0.0012
3  北京市      8   0  0.0540     NaN
4  天津市     13   0  0.1399     NaN
5  河北省   1923   0  2.8283     NaN
6  山西省     57   0  0.1720     NaN

In [12]:
dat0.reset_index(inplace = True, drop=True) # 重新设置被打乱的index 
dat0["年份"] = 2004                         # 添加年份变量
dat0.head()

1   地区    发病数 死亡数     发病率     死亡率    年份
0   全国  49496  15  3.8077  0.0012  2004
1  北京市      8   0  0.0540     NaN  2004
2  天津市     13   0  0.1399     NaN  2004
3  河北省   1923   0  2.8283     NaN  2004
4  山西省     57   0  0.1720     NaN  2004

In [13]:
# 自定义函数Preprogress对后几年数据需要进行的预处理
# 传入参数为df：数据框；year：年份数
# 返回处理过的数据框
def Preprogress(df, year):
    df.drop("Unnamed: 0", axis =1, inplace= True)       # 删除第0列
    df.drop([0, 1 , len(df)-1], axis =0, inplace= True) # 删除头两行和后一行
    df["年份"] = year                                   # 重塑年份变量
    return(df)                                          # 返回值

In [15]:
file_name = os.listdir('flu_data/by_year') # 获得by_year文件夹内的文件名[list形式]
file_name.remove("2004.csv")      # 剔除已经读入的2004年的数据
file_name                         # 查看列表

['2005.csv',
 '2006.csv',
 '2007.csv',
 '2008.csv',
 '2009.csv',
 '2010.csv',
 '2011.csv',
 '2012.csv',
 '2013.csv',
 '2014.csv',
 '2015.csv',
 '2016.csv']

In [16]:
## 自义函数ReadYear用于批量读取拼接数据
## 传入参数file_name:文件名列表;the_path:路径
## 返回值other_data：拼接过的数据
def ReadYear(file_name, the_path):
    list = []                                                        # 建立空列表用于存放数据
    for i in range(len(file_name)):                                  # 通过循环遍历读取文件                 
        df = pd.read_csv(the_path + file_name[i] , encoding = "gbk") # 读取数据
        year = 2004+i+1                                              # 依次累加年份
        Preprogress(df, year)                                        # 进行预处理及其重塑变量
        list.append(df)                                              # 将处理过后的数据框添加到list中
        other_data = pd.concat(list)                                 # 使用concat合并list内的数据
    return(other_data)                                               # 返回值

other_data = ReadYear(file_name, "flu_data/by_year/")                         # 批量读取数据，命名为other_data
other_data.head()

FileNotFoundError: [Errno 2] No such file or directory: 'by_year/2005.csv'